@using CrestApps.OrchardCore.OpenAI.Azure.Core
@using CrestApps.OrchardCore.OpenAI.Azure.ViewModels
@using OrchardCore

@model AzureProfileMongoDBViewModel

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="IndexName" class="@Orchard.GetLabelClasses()">@T["Index name"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="text" class="form-control" asp-for="IndexName" />
        <span class="hint">@T["The name of the Mongo DB index to use as a data source."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="EndpointName" class="@Orchard.GetLabelClasses()">@T["Endpoint name"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="text" class="form-control" asp-for="EndpointName" />
        <span class="hint">@T["The Mongo DB Endpoint name."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="DatabaseName" class="@Orchard.GetLabelClasses()">@T["Database name"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="text" class="form-control" asp-for="DatabaseName" />
        <span class="hint">@T["The Mongo DB database name."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="CollectionName" class="@Orchard.GetLabelClasses()">@T["Collection name"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="text" class="form-control" asp-for="CollectionName" />
        <span class="hint">@T["The Mongo DB collection name."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="AppName" class="@Orchard.GetLabelClasses()">@T["App name"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="text" class="form-control" asp-for="AppName" />
        <span class="hint">@T["The Mongo DB app name."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="Username" class="@Orchard.GetLabelClasses()">@T["Username"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="text" class="form-control" asp-for="Username" />
        <span class="hint">@T["The Mongo DB username."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="Password" class="@Orchard.GetLabelClasses()">@T["Password"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="text" class="form-control" asp-for="Password" placeholder="@(Model.HasPassword ? T["A password is securely stored. Enter a new one to replace it."] : string.Empty)" />
        <span class="hint">@T["The Mongo DB password."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="Strictness" class="@Orchard.GetLabelClasses()">@T["Strictness"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="number" class="form-control" asp-for="Strictness " step="1" min="1" max="5" />
        <span class="hint">@T["Strictness sets the threshold to categorize documents as relevant to your queries. Raising strictness means a higher threshold for relevance and filtering out more documents that are less relevant for responses. Very high strictness could cause failure to generate responses due to limited available documents. Leave it blank to use the current default of {0}.", AzureOpenAIConstants.DefaultStrictness]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="TopNDocuments" class="@Orchard.GetLabelClasses()">@T["Total retrieved documents"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="number" class="form-control" asp-for="TopNDocuments " step="1" min="3" max="20">
        <span class="hint">@T["This specifies the number of top-scoring documents from your data index used to generate responses. You want to increase the value when you have short documents or want to provide more context. Leave it blank to use the current default of {0}.", AzureOpenAIConstants.DefaultTopNDocuments]</span>
    </div>
</div>
