@using CrestApps.OrchardCore.Subscriptions.Core.Models
@using CrestApps.OrchardCore.Subscriptions.Extensions

@model ShapeViewModel<Invoice>

<div class="mb-3 rounded">

    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            <div class="row">
                <div class="col-12 col-md-5 col-xxl-6">@T["Item"]</div>
                <div class="text-center col-3 col-md-2 col-xxl-1">@T["Quantity"]</div>
                <div class="text-center col-3 col-md-2 col-xxl-1">@T["Unit Price"]</div>
                <div class="text-center col-6 col-md-3 col-xxl-4">@T["Total"]</div>
            </div>
        </li>

        @foreach (var lineItem in Model.Value.LineItems)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-12 col-md-5 col-xxl-6">@lineItem.Description</div>
                    <div class="text-center col-3 col-md-2 col-xxl-1">@lineItem.Quantity</div>
                    <div class="text-center col-3 col-md-2 col-xxl-1">@lineItem.UnitPrice.ToString("C")</div>
                    <div class="text-center col-6 col-md-3 col-xxl-4">
                        @if (lineItem.Subscription != null)
                        {
                            @T.GetAmount(lineItem.Subscription.DurationType, lineItem.Subscription.BillingDuration, lineItem.UnitPrice * lineItem.Quantity)
                        }
                        else
                        {
                            @(lineItem.GetLineTotal().ToString("C"))
                        }
                    </div>
                </div>
            </li>
        }

        <li class="list-group-item list-group-item-secondary">
            <div class="row">
                <div class="offset-3 offset-md-7 offset-xxl-7 text-center col-3 col-md-2 col-xxl-1">@T["Due Now"]</div>
                <div class="text-center col-6 col-md-3 col-xxl-4">
                    @Model.Value.DueNow.ToString("C")
                </div>
            </div>
        </li>

        @foreach (var subtotal in Model.Value.Subtotals)
        {
            <li class="list-group-item list-group-item-secondary">
                <div class="row">
                    <div class="offset-3 offset-md-7 offset-xxl-7 text-center col-3 col-md-2 col-xxl-1">@T["Subtotal"]</div>
                    <div class="text-center col-6 col-md-3 col-xxl-4">
                        @T.GetAmount(subtotal.Key.Type, subtotal.Key.Duration, subtotal.Value)
                    </div>
                </div>
            </li>
        }

        <li class="list-group-item list-group-item-dark">
            <div class="row">
                <div class="offset-3 offset-md-7 offset-xxl-7 text-center col-3 col-md-2 col-xxl-1">@T["Total"]</div>
                <div class="text-center col-6 col-md-3 col-xxl-4">
                    @Model.Value.GrandTotal.ToString("C")
                </div>
            </div>
        </li>
    </ul>
</div>
