@using CrestApps.OrchardCore.Subscriptions.Core.Models
@using CrestApps.OrchardCore.Subscriptions.Extensions

@model Invoice


<div class="mb-3 rounded">

    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            <div class="row">
                <div class="col-12 col-md-5 col-xxl-6">@T["Item"]</div>
                <div class="text-center col-3 col-md-2 col-xxl-1">@T["Quantity"]</div>
                <div class="text-center col-3 col-md-2 col-xxl-1">@T["Unit Price"]</div>
                <div class="text-center col-6 col-md-3 col-xxl-4">@T["Total"]</div>
            </div>
        </li>
        @foreach (var lineItem in Model.LineItems)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-12 col-md-5 col-xxl-6">@lineItem.Description</div>
                    <div class="text-center col-3 col-md-2 col-xxl-1">@lineItem.Quantity</div>
                    <div class="text-center col-3 col-md-2 col-xxl-1">@lineItem.UnitPrice.ToString("C")</div>
                    <div class="text-center col-6 col-md-3 col-xxl-4">
                        @T.GetAmount(lineItem.DurationType, lineItem.BillingDuration, lineItem.UnitPrice * lineItem.Quantity)
                    </div>
                </div>
            </li>
        }

        <li class="list-group-item list-group-item-dark">
            <div class="row">
                <div class="col-md-9 col-xxl-8 text-end">@T["Due Now"]</div>
                <div class="text-center col-md-3 col-xxl-4">
                    @Model.GetDueNow().ToString("C")
                </div>
            </div>
        </li>

        @foreach (var subtotal in Model.GetSubtotals())
        {
            <li class="list-group-item list-group-item-dark">
                <div class="row">
                    <div class="col-md-9 col-xxl-8 text-end">@T["Sub Total"]</div>
                    <div class="text-center col-md-3 col-xxl-4">
                        @T.GetAmount(subtotal.Key.Type, subtotal.Key.Duration, subtotal.Value)
                    </div>
                </div>
            </li>
        }

        <li class="list-group-item list-group-item-dark">
            <div class="row">
                <div class="col-md-9 col-xxl-8 text-end">@T["Total"]</div>
                <div class="text-center col-md-3 col-xxl-4">
                    @Model.GetTotal().ToString("C")
                </div>
            </div>
        </li>
    </ul>
</div>