@using CrestApps.OrchardCore.Subscriptions.Core.Models

@model ShapeViewModel<SubscriptionFlow>

@foreach (var step in Model.Value.GetSortedSteps())
{
    <div>
        <div class="text-bg-light border border-light-subtle rounded-circle p-4" title="@step.Description">
            @if (Model.Value.Session.SavedSteps.ContainsKey(step.Key))
            {
                <a asp-route="SubscriptionsSignupStep" asp-route-sessionId="@Model.Value.Session.SessionId" asp-route-step="@step.Key">
                    @step.Title
                </a>
            }
            else
            {
                @step.Title
            }
        </div>
    </div>
}