@using CrestApps.OrchardCore.Subscriptions.ViewModels

@model SubscriptionFlowNavigation

@{
    var hasNext = !string.IsNullOrEmpty(Model.NextStep);
}

<div class="d-flex justify-content-between flex-row-reverse">

    @if (hasNext && Model.IsPaymentStep)
    {
        <button type="submit" class="btn btn-success" name="Direction" value="Next">@T["Pay & Next"]</button>
    }
    else if (Model.IsPaymentStep)
    {
        <button type="submit" class="btn btn-success" name="Direction" value="Next">@T["Pay & Finish"]</button>
    }
    else if (hasNext)
    {
        <button type="submit" class="btn btn-success" name="Direction" value="Next">@T["Next"]</button>
    }
    else
    {
        <button type="submit" class="btn btn-success" name="Direction" value="Next">@T["Finish"]</button>
    }

    <div></div>

    @if (!string.IsNullOrEmpty(Model.PreviousStep))
    {
        <button type="submit" class="btn btn-info" name="Direction" value="Previous">@T["Previous"]</button>
    }
    else
    {
        <div></div>
    }

</div>
