@using CrestApps.OrchardCore.Subscriptions
@using CrestApps.OrchardCore.Subscriptions.Core.Models
@using Microsoft.AspNetCore.Mvc.Localization
@using CrestApps.OrchardCore.Subscriptions.Extensions;

@model ShapeViewModel<SubscriptionPart>

<div class="row">
    @if (Model.Value.InitialAmount.HasValue)
    {
        <div class="col-6">@T["Initial Amount"]</div>
        <div class="col-6">@Model.Value.InitialAmount.Value.ToString("C")</div>
    }

    <div class="col-6">@T["Billing Amount"]</div>
    <div class="col-6">@T.GetAmount(Model.Value.DurationType, Model.Value.BillingDuration, Model.Value.BillingAmount)</div>

    @if (Model.Value.BillingCycleLimit.HasValue)
    {
        <div class="col-6">@T["Total payments"]</div>
        <div class="col-6">@Model.Value.BillingCycleLimit.Value</div>
    }
</div>
