@using CrestApps.OrchardCore.Omnichannel.ViewModels
@using OrchardCore

@model OmnichannelCampaignViewModel

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="DisplayText" class="@Orchard.GetLabelClasses()">@T["Name"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input asp-for="DisplayText" class="form-control" />
        <span asp-validation-for="DisplayText" class="text-danger"></span>
    </div>
</div>


<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="Descriptions" class="@Orchard.GetLabelClasses()">@T["Descriptions"]</label>
    <div class="@Orchard.GetEndClasses()">
        <textarea asp-for="Descriptions" class="form-control"></textarea>
        <span asp-validation-for="Descriptions" class="text-danger"></span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <label class="@Orchard.GetLabelClasses()">@T["Dispositions"]</label>
    <div class="@Orchard.GetEndClasses()">
        @{
            var name = Html.NameFor(x => x.Dispositions);

        }
        @foreach (var disposition in Model.Dispositions ?? [])
        {
            <div class="form-check">
                <input type="checkbox"
                       class="form-check-input"
                       name="@name"
                       id="disposition_@disposition.Value"
                       value="@disposition.Value"
                       @(disposition.Selected ? "checked" : "") />
                <label class="form-check-label" for="disposition_@disposition.Value">
                    @disposition.Text
                </label>
            </div>
        }
    </div>
</div>