@using CrestApps.OrchardCore.Omnichannel.ViewModels
@using OrchardCore

@model OmnichannelDispositionViewModel

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="DisplayText" class="@Orchard.GetLabelClasses()">@T["Name"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input asp-for="DisplayText" class="form-control" />
        <span asp-validation-for="DisplayText" class="text-danger"></span>
    </div>
</div>


<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="Descriptions" class="@Orchard.GetLabelClasses()">@T["Descriptions"]</label>
    <div class="@Orchard.GetEndClasses()">
        <textarea asp-for="Descriptions" class="form-control"></textarea>
        <span asp-validation-for="Descriptions" class="text-danger"></span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <div class="@Orchard.GetEndClasses(true)">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" asp-for="CaptureDate">
            <label class="form-check-label" asp-for="CaptureDate">@T["Capture date on new or follow up activity"]</label>
            <span class="hint dashed">@T["When enabled, the activity will prompt the user to select a date for the following activity."]</span>
        </div>
    </div>
</div>
