@using CrestApps.OrchardCore.OpenAI.Core
@using Microsoft.Extensions.DependencyInjection
@using CrestApps.OrchardCore.OpenAI

@{
    string source = Model.Source;
    var service = ViewContext.HttpContext.RequestServices.GetKeyedService<IAIChatProfileSource>(source);
}

<div class="col">
    <div class="card h-100">
        <div class="card-body">
            <h4>@(service?.DisplayName ?? source)</h4>
            <p class="hint">@(service?.Description)</p>
        </div>
        <div class="card-footer text-muted text-sm-end">
            <a class="btn btn-primary btn-sm"
               asp-route-action="Create"
               asp-route-controller="Profiles"
               asp-route-id="@source"
               asp-area="@OpenAIConstants.Feature.Area">@T["Add"]</a>
        </div>
    </div>
</div>
