@using CrestApps.OrchardCore.OpenAI.Core
@using CrestApps.OrchardCore.OpenAI.ViewModels

@model ListChatSessionsViewModel

<!-- Hidden submit button do not remove -->
<input type="submit" name="submit.Filter" id="submitFilter" class="visually-hidden" />

<div class="card text-bg-theme mb-3">
    <div class="card-body">
        <div class="row gx-3">
            <div class="col">
                @await DisplayAsync(Model.Header)
            </div>
            <div class="col-auto">
                <a class="btn btn-secondary" href="@Url.Action("Chat", "Admin", new { profileId = Model.ProfileId })">
                    <i class="fa-solid fa-plus"></i> @T["New Chat"]
                </a>
            </div>
        </div>
    </div>
</div>
<ul class="list-group">
    @if (Model.ChatSessions.Count > 0)
    {
        @foreach (var session in Model.ChatSessions)
        {
            <li class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        @session.Title
                    </div>
                    <div>
                        <a href="@Url.Action("Chat", "Admin", new { area = OpenAIConstants.Feature.Area, sessionId = session.SessionId, profileId = Model.ProfileId })" class="btn btn-sm btn-primary">@T["View"]</a>
                    </div>
                </div>
            </li>
        }
    }
    else
    {
        <li class="list-group-item">
            <div class="alert alert-info mb-0">
                @T["No history found."]
            </div>
        </li>
    }
</ul>

@await DisplayAsync(Model.Pager)
