@using CrestApps.OrchardCore.OpenAI.ViewModels
@using OrchardCore

@model EditAIChatProfileViewModel

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="Name" class="@Orchard.GetLabelClasses()">@T["Name"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input asp-for="Name" class="form-control" disabled="@(!Model.IsNew)" />
        <span asp-validation-for="Name" class="text-danger"></span>
        @if (Model.IsNew)
        {
            <span class="hint">@T["Profile name. This name cannot be changed later."]</span>
        }
        else
        {
            <span class="hint">@T["Profile name."]</span>
        }
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="DeploymentId" class="@Orchard.GetLabelClasses()">@T["Deployment"]</label>
    <div class="@Orchard.GetEndClasses()">
        <select asp-for="DeploymentId" asp-items="Model.Deployments" class="form-select">
            <option value="">@T["Select a deployment"]</option>
        </select>
        <span asp-validation-for="DeploymentId" class="text-danger"></span>
        <span class="hint">@T["The deployment to use for this profile."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="WelcomeMessage" class="@Orchard.GetLabelClasses()">@T["Welcome message"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input asp-for="WelcomeMessage" class="form-control" />
        <span asp-validation-for="WelcomeMessage" class="text-danger"></span>
        <span class="hint">@T["The welcome message to show on the UI when a new session is created."]</span>
    </div>
</div>
