@using CrestApps.OrchardCore.OpenAI
@using CrestApps.OrchardCore.OpenAI.Core
@using CrestApps.OrchardCore.OpenAI.Core.Services
@using CrestApps.OrchardCore.OpenAI.Models
@using CrestApps.OrchardCore.OpenAI.ViewModels.Sessions
@using OrchardCore.DisplayManagement
@using OrchardCore.DisplayManagement.ModelBinding
@using OrchardCore.Entities
@using System.Text.Json

@model ChatSessionCapsuleViewModel

@inject IUpdateModelAccessor UpdateModelAccessor
@inject IDisplayManager<OpenAIChatSessionPrompt> DisplayManager
@inject IOpenAIChatProfileStore ChatProfileStore
@inject IOpenAIMarkdownService MarkdownService
@{
    var baseId = Html.IdForModel();
    var chatAppHtmlId = $"{baseId}_ChatApp";
    var buttonHtmlId = $"{baseId}_SendButton";
    var userPromptHtmlId = $"{baseId}_UserPrompt";
    var placeholderHtmlId = $"{baseId}_SessionPlaceHolder";
    var chatContainerHtmlId = $"{baseId}_ChatContainer";

    var promptGeneratedProfiles = (await ChatProfileStore.GetAllAsync()).Where(x => x.Type == OpenAIChatProfileType.TemplatePrompt);
}

<div class="mb-3 mx-3 p-3 overflow-y-auto h-100 rounded-2 border bg-theme" id="@chatContainerHtmlId">
    <div class="list-group list-group-flush w-100">
        @if (Model.Session.Prompts.Count == 0)
        {
            <div id="@placeholderHtmlId" class="text-center p-3">
                <h1 class="mb-3">
                    @(string.IsNullOrEmpty(Model.Profile?.WelcomeMessage) ? T["What do you want to know?"] : Model.Profile?.WelcomeMessage)
                </h1>
            </div>
        }

        <div id="@chatAppHtmlId"></div>
    </div>
</div>

<div class="container-fluid mb-3">

    <div class="text-bg-light rounded-5 border w-100">
        <textarea class="form-control bg-transparent border-0 chat-user-prompt-input px-4" id="@userPromptHtmlId" data-session-id="@(Model.IsNew ? string.Empty : Model.Session.SessionId)" data-profile-id="@(Model.Session.ProfileId)" placeholder="@T["Message AI Chat"] ..." aria-label="@T["Message AI Chat"]" aria-describedby="@buttonHtmlId"></textarea>

        <div class="d-flex justify-content-between px-3 my-2">
            <div>
                @if (promptGeneratedProfiles.Any())
                {
                    <div class="d-flex justify-content-center">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary rounded-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-screwdriver-wrench"></i>
                            </button>
                            <ul class="dropdown-menu">
                                @foreach (var promptGeneratedProfile in promptGeneratedProfiles)
                                {
                                    <li>
                                        <button type="button" class="dropdown-item profile-generated-prompt" data-profile-id="@promptGeneratedProfile.Id">@promptGeneratedProfile.Name</button>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>

            <div>
                <button class="btn btn-dark rounded-circle" type="button" id="@buttonHtmlId" disabled>
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
            </div>
        </div>
    </div>
</div>
@{
    var prompts = new List<object>();

    if (Model.Session.Prompts != null)
    {
        foreach (var prompt in Model.Session.Prompts)
        {
            prompts.Add(new
            {
                prompt.Id,
                prompt.Role,
                prompt.Content,
                prompt.Title,
                prompt.IsGeneratedPrompt,
                ContentHTML = !string.IsNullOrEmpty(prompt.Content) ? MarkdownService.ToHtml(prompt.Content) : null,
            });
        }
    }
}

<script asp-name="OpenAIChatApp" at="Foot"></script>
<script at="Foot" depends-on="OpenAIChatApp">
    openAIChatManager.initialize({
        chatUrl: '@(Url.RouteUrl(OpenAIConstants.RouteNames.ChatCompletionRouteName))',
        appElementSelector: '#@chatAppHtmlId',
        chatContainerElementSelector: '#@chatContainerHtmlId',
        inputElementSelector: '#@userPromptHtmlId',
        sendButtonElementSelector: '#@buttonHtmlId',
        placeholderElementSelector: '#@placeholderHtmlId',
        messages: @Html.Raw(JsonSerializer.Serialize(prompts, JOptions.CamelCase))
    });
</script>

<style at="Head">
    .chat-user-prompt-input:focus {
        border: none;
        box-shadow: none;
    }
</style>
