@using CrestApps.OrchardCore.Core.Models

@model EditCatalogEntryViewModel

<zone Name="Title">
    <h1>@RenderTitleSegments(T["New '{0}' data-source", Model.DisplayName])</h1>
</zone>

<form method="post" enctype="multipart/form-data" class="no-multisubmit">
    @Html.ValidationSummary()

    <div class="alert alert-warning" role="alert">
        @T["After creating a data source, the Source Index, Knowledge Base Index, and field mappings can't be changed."]
    </div>

    @await DisplayAsync(Model.Editor)

    <button class="btn btn-primary" type="submit">@T["Save"]</button>

    <a class="btn btn-secondary cancel" role="button" asp-route-action="Index">@T["Cancel"]</a>
</form>
