@using CrestApps.OrchardCore.Omnichannel.Managements.ViewModels
<zone Name="Title">
    <h1>@RenderTitleSegments(T["Complete Activity"])</h1>
</zone>

@{
    var activityId = ViewContext.HttpContext.Request.RouteValues["id"];
    var contactContentItem = Model.ContactContentItem;
}

@if (contactContentItem is not null)
{
    var shape = new ContactNavigationAdminShapeViewModel
    {
        ContactContentItem = contactContentItem,
        ShowEdit = true,
    };

    @await DisplayAsync(shape)
}

<form method="post" asp-action="Complete" asp-route-id="@activityId" asp-route-returnUrl="@Model.ReturnUrl" enctype="multipart/form-data" class="no-multisubmit">
    @Html.ValidationSummary()
    @await DisplayAsync(Model)

    <button class="btn btn-primary" type="submit">@T["Complete"]</button>

    @if (!string.IsNullOrEmpty(Model.ReturnUrl))
    {
        <a class="btn btn-secondary cancel" role="button" href="@Model.ReturnUrl">@T["Cancel"]</a>
    }
    else if (contactContentItem is null)
    {
        <a class="btn btn-secondary cancel" role="button" asp-action="Activities">@T["Cancel"]</a>
    }
    else
    {
        <a class="btn btn-secondary cancel" role="button" asp-action="List" asp-route-contentItemId="@contactContentItem.ContentItemId">@T["Cancel"]</a>
    }
</form>
