@using CrestApps.OrchardCore.AI.ViewModels
@using OrchardCore

@model AIProfileTemplateParametersViewModel

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="SystemMessage" class="@Orchard.GetLabelClasses()">@T["System instructions"]</label>
    <div class="@Orchard.GetEndClasses()">
        <div class="hint mb-1">@T["The system instruction sets the AI's behavior and response style, guiding how it interacts in a conversation."]</div>
        <textarea asp-for="SystemMessage" class="form-control content-preview-text" rows="5"></textarea>
    </div>
</div>

<style asp-name="codemirror"></style>
<style asp-name="easymde"></style>

<script asp-name="easymde" at="Foot"></script>
<script at="Foot" depends-on="easymde">
    document.addEventListener('DOMContentLoaded', function () {
        const isRtl = @(Orchard.IsRightToLeft() ? "true" : "false");

        const systemMessageElement = document.getElementById("@Html.IdFor(m => m.SystemMessage)");
        var mde = new EasyMDE({
            element: systemMessageElement,
            forceSync: true,
            autoDownloadFontAwesome: false
        });

        mde.codemirror.on('change', function () {
            document.dispatchEvent(new Event('contentpreview:render'));
        });

        if (isRtl) {
            var toolbarEditors = document.querySelectorAll('.editor-toolbar');

            for (var i = 0; i < toolbarEditors.length; i++)
            {
                toolbarEditors[i].style.direction = 'rtl';
                toolbarEditors[i].style.textAlign = 'right';
            }

            var mirrorContainers = document.querySelectorAll('.CodeMirror');

            for (var i = 0; i < mirrorContainers.length; i++)
            {
                mirrorContainers[i].style.textAlign = 'right';
            }
        }
    });
</script>
