@using System.Globalization
@using CrestApps.OrchardCore.Omnichannel.Core
@using CrestApps.OrchardCore.Omnichannel.Core.Models
@using CrestApps.OrchardCore.Services
@using CrestApps.OrchardCore.Users
@using Microsoft.AspNetCore.Mvc.Localization
@using OrchardCore.DisplayManagement.Views

@model ShapeViewModel<OmnichannelActivityContainer>

@inject IDisplayNameProvider DisplayNameProvider
@inject ICatalog<OmnichannelDisposition> DispositionCatalog

@{
    if (!Model.Value.Activity.CompletedUtc.HasValue)
    {
        Model.Value.Activity.CompletedUtc = DateTime.UtcNow;
    }

    var completedAt = Model.Value.Activity.CompletedUtc.Value.ToString("yyyy-MM-ddTHH:mm:sszzz", CultureInfo.InvariantCulture);
}

@if (Model.Value.Activity.Attempts > 1)
{
    <span class="badge bg-secondary" title="@T["Attempt number"]">@T.ToOrdinal(Model.Value.Activity.Attempts)</span>
}

<span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@T["Completed at"]">
    <i class="fa-solid fa-calendar text-secondary" aria-hidden="true"></i>
    <time datetime="@completedAt">@await DisplayAsync(await New.DateTime(Utc: Model.Value.Activity.CompletedUtc, Format: "g"))</time>
</span>

@if (!string.IsNullOrEmpty(Model.Value.Activity.DispositionId))
{
    <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@T["Disposition"]">
        <i class="fa-solid fa-gavel text-secondary me-1" aria-hidden="true"></i>@((await DispositionCatalog.FindByIdAsync(Model.Value.Activity.DispositionId)).DisplayText)
    </span>
}

@if (Model.Value.User is not null)
{
    <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@T["Completed by"]">
        <i class="fa-solid fa-user text-secondary me-1" aria-hidden="true"></i>@await DisplayNameProvider.GetAsync(Model.Value.User)
    </span>
}

@if (!string.IsNullOrEmpty(Model.Value.Activity.Channel))
{
    <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@T["Channel"]">
        <i class="fa-solid fa-comments text-secondary me-1" aria-hidden="true"></i>@Model.Value.Activity.Channel
    </span>
}

@if (!string.IsNullOrEmpty(Model.Value.Activity.PreferredDestination))
{
    <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@T["Communication target"]">
        <i class="fa-solid fa-comments text-secondary me-1" aria-hidden="true"></i>@Model.Value.Activity.PreferredDestination
    </span>
}
