@using CrestApps.OrchardCore.Omnichannel.Core.Models
@using OrchardCore.DisplayManagement.Views

@model ShapeViewModel<OmnichannelActivityBatch>

@if (Model.Value.Status == OmnichannelActivityBatchStatus.New)
{
    <a asp-action="Edit"
       asp-route-id="@Model.Value.ItemId"
       class="btn btn-primary btn-sm">@T["Edit"]</a>

    <a asp-action="Delete"
       asp-route-id="@Model.Value.ItemId"
       class="btn btn-danger btn-sm"
       data-url-af="RemoveUrl UnsafeUrl">@T["Delete"]</a>
}
else
{
    <a asp-action="Edit"
       asp-route-id="@Model.Value.ItemId"
       class="btn btn-primary btn-sm">@T["View"]</a>
}