@using CrestApps.OrchardCore.AI.Models
@using OrchardCore.DisplayManagement.Views

@model ShapeViewModel<AIChatProfile>
@{
    var type = Model.Value.Type switch
    {
        AIChatProfileType.Utility => T["Utility"],
        AIChatProfileType.TemplatePrompt => T["Template generated prompt"],
        AIChatProfileType.Chat => T["Chat"],
        _ => T["Unknown type"]
    };
}

<span class="badge ta-badge bg-warning-subtle font-weight-normal" data-bs-toggle="tooltip" title="@T["Source"]">
    <i class="text-secondary me-1" aria-hidden="true"></i>@Model.Value.Source
</span>

<span class="badge ta-badge bg-primary-subtle font-weight-normal" data-bs-toggle="tooltip" title="@T["Profile type"]">
    <i class="text-secondary me-1" aria-hidden="true"></i>@type
</span>

@if (!Model.Value.GetSettings<AIChatProfileSettings>().IsRemovable)
{
    <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@T["The '{0}' profile cannot be deleted.", Model.Value.Name])">
        <i class="fa-solid fa-shield text-secondary me-1" aria-hidden="true"></i>@T["System"]
    </span>
}
