@using CrestApps.OrchardCore.AI.ViewModels
@using OrchardCore

@model EditProfileDataSourcesViewModel

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="DataSourceId" class="@Orchard.GetLabelClasses()">@T["Data source"]</label>
    <div class="@Orchard.GetEndClasses()">
        <select asp-for="DataSourceId" class="form-select">
            <option value="">@T["Select a data source"]</option>
            @foreach (var source in Model.DataSources.OrderBy(x => x.DisplayText))
            {
                @if (source.ItemId == Model.DataSourceId)
                {
                    <option value="@source.ItemId" data-source-type="@source.Type" selected="selected">@source.DisplayText</option>
                    continue;
                }

                <option value="@source.ItemId" data-source-type="@source.Type">@source.DisplayText</option>
            }
        </select>
        <span asp-validation-for="DataSourceId" class="text-danger"></span>
        <span class="hint">@T["The data-source where your data is stored."]</span>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        const dataSourceSelect = document.getElementById('@Html.IdFor(x => x.DataSourceId)');

        function toggleDataSourceDependentElements() {
            const dependentElements = document.querySelectorAll('.data-source-dependent');

            if (dataSourceSelect && dependentElements.length > 0) {

                const option = dataSourceSelect.selectedOptions?.[0];
                const type = option?.dataset.sourceType;
                const hasDataSource = dataSourceSelect.value && dataSourceSelect.value.trim() !== '';

                dependentElements.forEach(element => {
                    console.log(element, element.classList, element.classList.contains('data-source-dependent-' + type), element.classList.contains('data-source-dependent-any') || (hasDataSource && element.classList.contains('data-source-dependent-' + type)));

                    if (!hasDataSource) {
                        element.classList.add('d-none');

                        return;
                    }

                    if (element.classList.contains('data-source-dependent-any') || element.classList.contains('data-source-dependent-' + type)) {
                        element.classList.remove('d-none');
                    } else {
                        element.classList.add('d-none');
                    }
                });
            }
        }

        // Initial check on page load
        toggleDataSourceDependentElements();

        if (dataSourceSelect) {
            // Listen for changes on the data source select
            dataSourceSelect.addEventListener('change', toggleDataSourceDependentElements);
        }
    });
</script>
