@using CrestApps.OrchardCore.AI.ViewModels

@model EditProfileMainFieldsViewModel

<div class="ocat-wrapper">
    <label asp-for="DisplayText" class="ocat-label">@T["Title"]</label>
    <div class="ocat-end">
        <input asp-for="DisplayText" class="form-control" />
        <span asp-validation-for="DisplayText" class="text-danger"></span>
        <span class="hint">@T["Profile title for the user interface."]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="Name" class="ocat-label">@T["Technical name"]</label>
    <div class="ocat-end">
        <input asp-for="Name" class="form-control" disabled="@(!Model.IsNew)" />
        <span asp-validation-for="Name" class="text-danger"></span>
        @if (Model.IsNew)
        {
            <span class="hint">@T["Profile name. This name cannot be changed later."]</span>
        }
        else
        {
            <span class="hint">@T["Profile name."]</span>
        }
    </div>
</div>

@if (Model.IsNew)
{
    <script asp-name="technical-name-generator"></script>
    <script at="Foot" depends-on="technical-name-generator">
        window.initAutoGenerateTechnicalName('@Html.IdFor(x => x.DisplayText)', '@Html.IdFor(x => x.Name)');
    </script>
}
