@using CrestApps.OrchardCore.AI.Tools.ViewModels
@using OrchardCore

@model InvokableToolViewModel

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="Description" class="@Orchard.GetLabelClasses()">@T["Description"]</label>
    <div class="@Orchard.GetEndClasses()">
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
        <span class="hint">@T["Describes the tool’s capabilities, functionalities, and intended use for AI models."]</span>
    </div>
</div>
