@using CrestApps.OrchardCore.AI.Chat.Interactions.ViewModels

@model EditChatInteractionDataSourceViewModel

<div class="mb-3">
    <div class="form-check">
        <input class="form-check-input setting-input" data-setting="isInScope" type="checkbox" asp-for="IsInScope" />
        <label class="form-check-label" asp-for="IsInScope">
            @T["Restrict answers to retrieved data only"]
            <span class="text-muted" data-bs-toggle="tooltip" title="@T["When enabled, the model will only generate responses using your data source index. If disabled, the model may use its general knowledge in addition to your data."]">
                <i class="fa-solid fa-circle-question" aria-hidden="true"></i>
            </span>
        </label>
    </div>
</div>

<div class="mb-3">
    <label asp-for="Strictness" class="form-label">
        @T["Strictness"]
        <span class="text-muted" data-bs-toggle="tooltip" title="@T["Strictness sets the threshold to categorize documents as relevant to your queries. Raising strictness means a higher threshold for relevance and filtering out more documents that are less relevant for responses. Very high strictness could cause failure to generate responses due to limited available documents. Leave it blank to use the default of 3."]">
            <i class="fa-solid fa-circle-question" aria-hidden="true"></i>
        </span>
    </label>
    <input type="number" class="form-control setting-input" data-setting="strictness" asp-for="Strictness" step="1" min="1" max="5">
</div>

<div class="mb-3">
    <label asp-for="TopNDocuments" class="form-label">
        @T["Retrieved documents"]
        <span class="text-muted" data-bs-toggle="tooltip" title="@T["This specifies the number of top-scoring documents from your data index used to generate responses. You want to increase the value when you have short documents or want to provide more context. Leave it blank to use the default value."]">
            <i class="fa-solid fa-circle-question" aria-hidden="true"></i>
        </span>
    </label>
    <input type="number" class="form-control setting-input" data-setting="topNDocuments" asp-for="TopNDocuments" step="1" min="3" max="20">
</div>
