@using CrestApps.OrchardCore.AI.Chat.ViewModels

@model AIChatWidgetViewModel

<div class="ocat-wrapper">
    <label asp-for="ProfileId" class="ocat-label">@T["Profile"]</label>
    <div class="ocat-end">
        <select asp-for="ProfileId" asp-items="Model.Profiles" class="form-select">
            <option value="">@T["Select a profile"]</option>
        </select>
        <span class="hint">@T["The OpenAI chat profile to use with this widget."]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="TotalHistory" class="ocat-label">@T["Total history chat to show"]</label>
    <div class="ocat-end">
        <input type="number" class="form-control" asp-for="TotalHistory " step="1" min="0" max="@Model.MaxHistoryAllowed">
        <span class="hint">@T["Specify the number of previous chat sessions to display in the widget. Set to 0 or leave blank to hide all past sessions."]</span>
    </div>
</div>
