@using CrestApps.OrchardCore.Omnichannel.Managements.ViewModels
@using OrchardCore

@model CampaignActionViewModel

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="DispositionId" class="@Orchard.GetLabelClasses()">@T["Disposition"]</label>
    <div class="@Orchard.GetEndClasses()">
        <select asp-for="DispositionId" asp-items="Model.Dispositions" class="form-select">
            <option value="">@T["Select a disposition"]</option>
        </select>
        <span class="hint">@T["The disposition that triggers this action."]</span>
        <span asp-validation-for="DispositionId" class="text-danger"></span>
    </div>
</div>
