@using CrestApps.OrchardCore.Omnichannel.Core.Models
@using CrestApps.OrchardCore.Omnichannel.Managements.ViewModels
@using Microsoft.Extensions.Options

@inject IOptions<CampaignActionOptions> ActionOptions
@{
    string source = Model.Source;

    if (!ActionOptions.Value.ActionTypes.TryGetValue(source, out var entry))
    {
        return;
    }
}

<div class="col">
    <div class="card h-100">
        <div class="card-body">
            <h4>@(entry.DisplayName)</h4>
            <p class="hint">@(entry.Description)</p>
        </div>

        <div class="card-footer text-muted text-sm-end">
            <a class="btn btn-primary btn-sm"
               asp-route-action="Create"
               asp-route-controller="CampaignActions"
               asp-route-campaignId="@Model.CampaignId"
               asp-route-source="@entry.Type">@T["Add"]</a>
        </div>
    </div>
</div>
