@model CrestApps.OrchardCore.Omnichannel.Managements.ViewModels.OmnichannelReportFilterViewModel

<div class="col p-1">
    <label class="form-label" asp-for="CampaignGroupId">@T["Campaign group"]</label>
    <select asp-for="CampaignGroupId" asp-items="Model.CampaignGroups" class="form-select">
        <option value="">@T["All campaign groups"]</option>
    </select>
</div>
<div class="col p-1">
    <label class="form-label" asp-for="CampaignId">@T["Campaign"]</label>
    <select asp-for="CampaignId" asp-items="Model.Campaigns" class="form-select">
        <option value="">@T["All campaigns"]</option>
    </select>
</div>
<div class="col p-1">
    <label class="form-label" asp-for="Channel">@T["Channel"]</label>
    <select asp-for="Channel" asp-items="Model.Channels" class="form-select">
        <option value="">@T["All channels"]</option>
    </select>
</div>
<div class="col p-1">
    <label class="form-label" asp-for="Source">@T["Source"]</label>
    <select asp-for="Source" asp-items="Model.Sources" class="form-select">
        <option value="">@T["All sources"]</option>
    </select>
</div>
<div class="col p-1">
    <label class="form-label" asp-for="Status">@T["Status"]</label>
    <select asp-for="Status" asp-items="Model.Statuses" class="form-select">
        <option value="">@T["All statuses"]</option>
    </select>
</div>
