@using System.Globalization
@using CrestApps.OrchardCore.Omnichannel.Managements.ViewModels
@using OrchardCore.Modules

@inject ILocalClock LocalClock
@model OmnichannelContactPartViewModel

<div class="ocat-wrapper" asp-validation-class-for="TimeZoneId">
    <label asp-for="TimeZoneId" class="ocat-label">@T["Contact time zone"]</label>
    <div class="ocat-end">
        <div class="mb-3">
            <select asp-for="TimeZoneId" asp-items="Model.AvailableTimeZones" class="form-select"></select>
            <span asp-validation-for="TimeZoneId"></span>
            @if (Model.RequireTimeZone)
            {
                <span class="hint dashed">@T["Choose the contact's local time zone so agents can call during appropriate local hours. This field is required."]</span>
            }
            else
            {
                <span class="hint dashed">@T["Choose the contact's local time zone so agents can call during appropriate local hours."]</span>
            }
        </div>
    </div>
</div>

@if (Model.UseDoNotCall || Model.UseDoNotSms || Model.UseDoNotChat || Model.UseDoNotEmail)
{
    <div class="ocat-wrapper">
        <div class="ocat-label">@T["Communication preferences"]</div>
        <div class="ocat-end">
@if (Model.UseDoNotCall)
{
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="DoNotCall">
            <label class="form-check-label" asp-for="DoNotCall">
                @T["Do not call"]
                @if (Model.DoNotCallUtc.HasValue)
                {
                    <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@await DisplayAsync(await New.DateTime(Utc: Model.DoNotCallUtc.Value, Format: "g"))">
                        <i class="fa-solid fa-calendar text-secondary" aria-hidden="true"></i>
                        <time datetime="@Model.DoNotCallUtc.Value.ToString(DateTimeFormatConstants.HtmlDateTimeOffset, CultureInfo.InvariantCulture)">@await DisplayAsync(await New.Timespan(Utc: Model.DoNotCallUtc.Value))</time>
                    </span>
                }
            </label>
        </div>
}
@if (Model.UseDoNotSms)
{
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="DoNotSms">
            <label class="form-check-label" asp-for="DoNotSms">
                @T["Do not SMS"]
                @if (Model.DoNotSmsUtc.HasValue)
                {
                    <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@await DisplayAsync(await New.DateTime(Utc: Model.DoNotSmsUtc.Value, Format: "g"))">
                        <i class="fa-solid fa-calendar text-secondary" aria-hidden="true"></i>
                        <time datetime="@Model.DoNotSmsUtc.Value.ToString(DateTimeFormatConstants.HtmlDateTimeOffset, CultureInfo.InvariantCulture)">@await DisplayAsync(await New.Timespan(Utc: Model.DoNotSmsUtc.Value))</time>
                    </span>
                }
            </label>
        </div>
}
@if (Model.UseDoNotChat)
{
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="DoNotChat">
            <label class="form-check-label" asp-for="DoNotChat">
                @T["Do not Chat"]
                @if (Model.DoNotChatUtc.HasValue)
                {
                    <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@await DisplayAsync(await New.DateTime(Utc: Model.DoNotChatUtc.Value, Format: "g"))">
                        <i class="fa-solid fa-calendar text-secondary" aria-hidden="true"></i>
                        <time datetime="@Model.DoNotChatUtc.Value.ToString(DateTimeFormatConstants.HtmlDateTimeOffset, CultureInfo.InvariantCulture)">@await DisplayAsync(await New.Timespan(Utc: Model.DoNotChatUtc.Value))</time>
                    </span>
                }
            </label>
        </div>
}
@if (Model.UseDoNotEmail)
{
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="DoNotEmail">
            <label class="form-check-label" asp-for="DoNotEmail">
                @T["Do not Email"]
                @if (Model.DoNotEmailUtc.HasValue)
                {
                    <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@await DisplayAsync(await New.DateTime(Utc: Model.DoNotEmailUtc.Value, Format: "g"))">
                        <i class="fa-solid fa-calendar text-secondary" aria-hidden="true"></i>
                        <time datetime="@Model.DoNotEmailUtc.Value.ToString(DateTimeFormatConstants.HtmlDateTimeOffset, CultureInfo.InvariantCulture)">@await DisplayAsync(await New.Timespan(Utc: Model.DoNotEmailUtc.Value))</time>
                    </span>
                }
            </label>
        </div>
}
        </div>
    </div>
}
